/* min nav stuff */
.min-nav-close{
    font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    font-size: 1.2em;
    text-align: center;
    z-index:1;
    cursor:pointer;
    display: none;
}
@media (max-width: 500px) {
    .min-nav{
        position:fixed;
        top:0px;
        left:0px;

        height:34px;
        max-height: 34px;
        width:40px;
        z-index:2;

        overflow:hidden;
        transition: max-height .8s;
    }

    .min-nav-close{
        display:block;
    }

    .min-nav:focus{
        z-index:0;
    }
    .min-nav:focus>ul::before{
        display: none;
    }

    .min-nav>ul{
        margin-top:34px;
    }

    .min-nav>ul::before {
        border-bottom: 10px double;
        border-top: 3px solid;
        content: ' ';
        height: 4px;
        position: absolute;
        left: 10px;
        top: 8px;
        width: 20px;
        cursor:pointer;
    }
    .min-nav.min-nav-right>ul::before{
        right:9px;
        left:auto;
    }
    .min-nav.min-nav-right{
        left:auto;
        right:0px;
    }

    nav.min-nav:focus{
        height:auto;
        max-height: 500px;
        width:100%;
    }

}